<mat-card class="product-card">
  <img mat-card-image [src]="product.images[0]" [alt]="product.title" />

  <mat-card-content>
    <h3 class="product-title">{{ product.title }}</h3>
    <p class="product-price">{{ product.price | currency }}</p>
    <p class="product-description">
      {{ product.description | slice : 0 : 60 }}...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="addToCart()">
      Añadir al carrito
    </button>
  </mat-card-actions>
</mat-card>
