.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  padding-bottom: 100px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    margin: 20px auto;
  }
}

.main-img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 20px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;

    &.active { border-color:rgb(66, 208, 61) }
    &:hover { opacity: 0.8; }
  }
}

.add-to-cart-btn {
  background:  #2c3e50;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: 0.3s;
  margin-bottom: 20px;

&:hover {
    background: #1a252f; 
    transform: translateY(-2px);
  }
}
