<mat-toolbar color="primary" class="header-container">
  <span
    routerLink="/home"
    class="logo-container"
    style="cursor: pointer; display: flex; align-items: center"
  >
    <img src="/images/logo.webp" style="height: 40px; margin-right: 10px" />
    <span style="font-weight: bold">Mi E-Commerce</span>
  </span>

  <!-- <span class="spacer"></span> -->

  <div class="left-section">
    <button mat-button routerLink="/home" routerLinkActive="active">
      Inicio
    </button>
  </div>

  <span class="spacer"></span>

  <div class="right-section">
    <button mat-button routerLink="/cart">🛒 Carrito ({{ cartCount() }})</button>

    @if (authService.isLoggedIn()) { @if (authService.isAdmin()) {
    <button mat-button routerLink="/admin/products">Administración</button>
    } @if (!authService.isAdmin()) {
    <button mat-raised-button color="warn" (click)="onLogout()">
      Cerrar Sesión
    </button>
    } } @else {
    <button mat-raised-button routerLink="/login">Iniciar Sesión</button>
    }
  </div>
</mat-toolbar>
