.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .login-card {
    width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .full-width {
    width: 100%;
  }


  .register-link, h2 {
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;

    a {
      text-decoration: none;
      color: #1976d2;
      font-weight: 500;
    }
  }
}
