<div class="register-container">
  <mat-card class="register-card">
    <mat-card-content>
      <h2 class="title">Crear Cuenta</h2>

      <form [formGroup]="form" (ngSubmit)="register()">

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre completo*</mat-label>
          <input matInput formControlName="name" placeholder="Nombre">
          <mat-error *ngIf="form.get('name')?.hasError('required')">
            El nombre es obligatorio
          </mat-error>
          <mat-error *ngIf="form.get('name')?.hasError('minlength')">
            Debe tener al menos 3 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Correo electrónico*</mat-label>
          <input matInput formControlName="email" type="email" placeholder="email@mail.com">
          <mat-error *ngIf="form.get('email')?.hasError('required')">
            El correo es obligatorio
          </mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">
            Ingresa un formato de correo válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña*</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            La contraseña es obligatoria
          </mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('minlength')">
            Mínimo 4 caracteres para esta API
          </mat-error>
        </mat-form-field>

        <button mat-flat-button class="btn-register" type="submit" [disabled]="form.invalid">
          Registrarse
        </button>

        <div class="footer-link">
          ¿Ya tienes cuenta? <a routerLink="/login">Iniciar sesión</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
