
<div class="cart-container">
  <h2>Carrito de compras</h2>

  @if (cartItems.length === 0) {
  <p>Tu carrito está vacío</p>
  } @else {

  <mat-list>
    @for (item of cartItems; track item.id) {
    <mat-list-item>
      <img matListItemAvatar [src]="item.images[0]" [alt]="item.title" />

      <div matListItemTitle>{{ item.title }}</div>
      <div matListItemLine>{{ item.price | currency }}</div>

      <button mat-button color="warn" (click)="removeItem(item.id)">
        Eliminar
      </button>
    </mat-list-item>
    }
  </mat-list>

  <div class="cart-summary">
    <h3>Total: {{ total | currency }}</h3>

    <button mat-raised-button color="warn" (click)="clearCart()">
      Vaciar carrito
    </button>
  </div>
  }
</div>
