.cart-container{
  max-width: 800px;
  margin: 2rem auto;

}

.cart-summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.price{
  color: rgb(125, 211, 39);
}
