.admin-container {
  height: 100vh;
}

.sidebar {
  width: 260px;
  background: #2c3e50;
  color: white;

  .sidebar-header {
    padding: 30px 20px;
    text-align: center;
    background: #1a252f;

    .admin-avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-bottom: 10px;
      border: 2px solid #00e5ff;
    }
  }
}

.main-content {
  background: #f4f7f6;
}

.active-link {
  background: rgba(0, 229, 255, 0.1);
  border-left: 4px solid #00e5ff;
}

.page-container {
  padding: 25px;
}
mat-nav-list {
    a[mat-list-item] {
      // Forzamos el color blanco en el texto y el icono
      --mdc-list-list-item-label-text-color: #ffffff;
      --mdc-list-list-item-supporting-text-color: #ffffff;

      .mat-icon {
        color: white !important;
      }

      // Estilo para el texto específico de Material 15+
      span[matListItemTitle] {
        color: white !important;
        font-weight: 400;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      // Estilo para cuando el link está activo (clase que tienes en el HTML)
      &.active-link {
        background-color: rgba(255, 255, 255, 0.2);
        border-left: 4px solid #3f51b5; // Una línea de color para resaltar

        span[matListItemTitle] {
          font-weight: bold;
        }
      }
    }
  }
