.footer-bottom {
  background-color: #1a252f;
  color: #6c757d;
  text-align: center;
  padding: 12px;
  font-size: 0.8rem;
  border-top: 1px solid #343a40;
}


.contact p {
  display: flex;
  align-items: center;
  gap: 10px;
}
