.footer-bottom {
  color:  rgba(0, 229, 255, 0.1);
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
  border-top: 1px solid #343a40;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 10px;
}
