@import "ngx-toastr/toastr";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#toast-container .toast-success {
  border-radius: 12px !important;
  background-color: #28a745 !important;
  color: white !important;
  opacity: 1;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

